<div class="constructor">
  <header class="constructor__header">
    <div class="constructor__header-title">
      Выбранный тип
    </div>
    <div class="constructor__header-summary">
      <div class="constructor__summary-item">
        Выбрано: <span class="constructor__summary-value">4</span>
      </div>
      <div class="constructor__summary-item">
        Сумма: <span class="constructor__summary-value">40</span>
      </div>
    </div>
  </header>
  <div class="constructor__body">
    <aside class="constructor__aside">
      <div class="constructor__type constructor__type--active">
        Тип 1
      </div>
      <div class="constructor__type">
        Тип 1
      </div>
    </aside>
    <main class="constructor__content">
      <app-checkbox/>
    </main>
  </div>
</div>
