@use "../../common/styles/colors" as colors;
@use "../../common/styles/layout-mixins" as layout-mixins;
@use "../../common/styles/typography" as typography;

.constructor {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;

  &__header {
    @include layout-mixins.flex-space-row;
    padding: 20px 30px;
    border-bottom: 2px solid colors.$black;
  }

  &__header-title {
    text-align: left;
    font-size: map-get(typography.$font-sizes, l);
    line-height: map-get(typography.$line-height, l);
  }

  &__header-summary {
    @include layout-mixins.flex-space-row;
    gap: 30px;
  }

  &__summary-item {
    display: flex;
    gap: 10px;
  }

  &__summary-value {
    font-weight: bold;
    color: colors.$primary-color;
  }

  &__body {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100%;
  }

  &__aside {
    border-right: 2px solid colors.$black;
    padding: 20px;
  }

  &__type {
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    text-align: left;

    &--active {
      color: colors.$primary-color;
      font-weight: bold;
    }

    &:hover {
      color: colors.$primary-color;
    }

  }

  &__content {
    padding: 20px 30px;
    overflow-y: auto;
  }

}
