$primary-color: rgba(248, 128, 60, 0.81);
$primary-color-hover: rgba(243, 114, 39, 0.9);
$secondary-color: rgba(145, 244, 233, 0.56);
$secondary-color-hover: #36e3d5;
$black: #000000;
$white: #ffffff;
