@mixin flex-center-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-left-column{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

@mixin flex-space-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
