@use "sass:map";
@use "../../common/styles/colors" as colors;
@use "../../common/styles/layout-mixins" as layout-mixins;
@use "../../common/styles/typography" as typography;

.main-page{
  min-height: 100vh;
  @include layout-mixins.flex-center-column;

  &__title{
    font-size: map.get(typography.$font-sizes, l);
    line-height: map.get(typography.$line-height, l);
  }

}

.greeting{

  &__container{
    padding: 50px 40px;
    @include layout-mixins.flex-center-column;
  }

  &__tittle{
    font-size: map.get(typography.$font-sizes, xl);
    line-height: map.get(typography.$line-height, xl);
  }

  &__signature{
    font-size: map.get(typography.$font-sizes, m);
    line-height: map.get(typography.$line-height, m);
    margin-top: 5px;
  }

  &__btn{
    margin-top: 25px;
    padding: 15px 35px;
    font-size: map.get(typography.$font-sizes, l);
    background: colors.$primary-color;
    color: colors.$white;
    transition: 0.2s ease;

    &:hover{
      background: colors.$primary-color-hover;
      transform: translateY(-1px);
    }

  }

}
